# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/main-track/node_modules
/main-track/.pnp
/main-track/.pnp.js
.vs/
# testing
/coverage

# production
/main-track/build

# misc
/main-track/.DS_Store
/main-track/.env.local
/main-track/.env.development.local
/main-track/.env.test.local
/main-track/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
